<!-- подшаблон для постов/сообщений -->
<!-- переменная post определяется в родительском шаблоне -->

<table class="table table-hover">
    <tr valign="top">
        <td width="70px">
            <a href="{{ url_for('main.user', username=post.author.username) }}"></a>
            <img src="{{ post.author.avatar(36) }}">
        </td>
        <td>
            {% set user_link %}
                <a href="{{ url_for('main.user', username=post.author.username) }}">     <!-- имя пользователя - ссылка на его профиль -->
                    {{ post.author.username }}
                </a>
            {% endset %}
            пишет {{ moment(post.timestamp).fromNow() }}:<br>{{ post.body }}
        </td>
    </tr>
</table>
